<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Encuestas</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Encuestas</div>
            <button class="menu-toggle" aria-label="Abrir menú">☰</button>
            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="login.html">Acceder</a></li>
            </ul>
        </nav>
    </header>
    <h1>GESTIÓN DE ENCUESTAS</h1>
    <div class="container">
        <div class="left-panel">
            <button onclick="mostrarFormulario('crear')">Crear Encuesta</button>
            <button onclick="mostrarFormulario('actualizar')">Actualizar Encuesta</button>
            <button onclick="mostrarFormulario('eliminar')">Eliminar Encuesta</button>
        </div>
        <div class="right-panel" id="rightPanel">
            <!-- El formulario se generará aquí dinámicamente -->
        </div>
    </div>

    <script src="js/surveyjs/mostrarFormularioEncuesta.js"></script>
    <script src="js/surveyjs/crearencuesta.js"></script>
    <script src="js/surveyjs/borrarEncuesta.js"></script>
    <script src="js/surveyjs/actualizarEncuesta.js"></script>

</body>
</html>