<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Capitulos</title>
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">SC Surveys</div>
            <button class="menu-toggle" aria-label="Abrir menú">☰</button>
            <ul class="nav-links">
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="inicio.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Listado de Preguntas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID Pregunta</th>
                    <th>Nombre Capitulo</th>
                    <th>Numero Pregunta</th>
                    <th>Tipo Pregunta</th>
                    <th>Texto Pregunta</th>
                    <th>Comentario Pregunta</th>
                </tr>
            </thead>
            <tbody id="pregunta-list">
            </tbody>
        </table>
    </div>

    <script src="js/questionjs.js/listarPreguntas.js"></script>

</body>